header.jumbotron {
  background: #fff;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.jumbotron h1 {
  font-size: 120px;
}

.jumbotron p {
  font-size: 35px;
}

.solutions article {
  margin-bottom: 80px;
  min-height: 200px;
  border-radius: 20px;
  border-color: #000;
}

.solutions h2 {
  text-align: center;
}

